body {
    color: pink
}

header {
    background: #13293d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }

  .name {
    text-align: left;
  }

  .header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
  .photo {
    height: 160px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/header.jpeg");
    background-size: cover;
    background-position: top;
    text-align: end;
    color: #fff;
}